{% extends "base.html" %}

{% block title %}Agregar Inversionista{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Inversionista</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Agregar</li>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Agregar Inversionista</h2>
    <p>Por favor ingrese los datos del inversionista</p>
    <form action="{{ url_for('router.save_inversionista') }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="form-group">
            <label for="tipoIdentificacion">Tipo de Identificación:</label>
            <select class="form-control" id="tipoIdentificacion" name="tipoIdentificacion" required>
                <option value="" disabled selected>Seleccione un tipo</option>
                {% for tipo in tipos_identificacion %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="identificacion">Identificación:</label>
            <input type="text" class="form-control" id="identificacion" name="identificacion" required>
        </div>
        <div class="form-group">
            <label for="tipoInversionista">Tipo de Inversionista:</label>
            <select class="form-control" id="tipoInversionista" name="tipoInversionista" required>
                <option value="" disabled selected>Seleccione un tipo</option>
                {% for tipo in tipos_inversionista %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>
{% endblock %}
