{% extends 'base.html' %}

{% block title %}{{ item.nombre }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Inversionista</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Detalle</li>
{% endblock %}

{% block content %}
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-0 h4 font-weight-bolder">{{ item.nombre }}</h3>
            <p class="mb-4">Detalles del inversionista</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <p class="text-sm mb-0 text-capitalize">Tipo de Inversionista</p>
                    <h4 class="mb-0">{{ item.tipoInversionista }}</h4>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
