{% extends 'base.html' %}

{% block title %}Detalle de Inversión{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Inversiones</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Detalle</li>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Detalle de Inversión</h2>
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <p class="text-sm mb-0 text-capitalize">Monto Invertido: {{item.montoInvertido}}:</p>
                    <h4 class="mb-0">Fecha de Inversion: </h4>
                    <h4> {{ item.fecha }} </h4>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <p class="text-sm mb-0 text-capitalize">Inversionista</p>
                    <a href="{{ url_for('router.inversionista', id=item.idInversionista) }}" class="btn btn-primary">Detalle Inversionista</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <p class="text-sm mb-0 text-capitalize">Proyecto</p>
                    <a href="{{ url_for('router.proyecto', id=item.idProyecto) }}" class="btn btn-primary">Detalle Proyecto</a>
                </div>
            </div>
        </div>
        
    </div>
        <a href="{{ url_for('router.lista_inversiones') }}" class="btn btn-primary">Volver a la lista</a>
    </div>
</div
{% endblock %}