{% extends "base.html" %}

{% block title %}Lista de Proyectos{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Proyectos</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Lista</li>
{% endblock %}

{% block content %}
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Tabla de Proyectos</h6>
                    </div>
                </div>
                <form id="busqueda-form" class="mb-4">
                    <div class="row g-2 align-items-center">
                        <div class="col-md-2">
                            <label for="metodo" class="form-label">Método de Busqueda:</label>
                            <select class="form-select" id="metodo-busq" name="metodo-busq">
                                <option value="lineal">LinealSearch</option>
                                <option value="binary">BinarySearch</option>
                            </select>
                        </div>  
                        <div class="col-md-2">
                            <label for="atributo" class="form-label">Buscar por:</label>
                            <select class="form-select" id="atributo" name="atributo">
                                <option value="nombre">Nombre</option>
                                <option value="tipoEnergia">Tipo de Energia</option>
                                <option value="tiempoVida">Tiempo de Vida</option>
                                <option value="tiempoConstruccion">Tiempo de Construccion</option>
                                <option value="inversionTotal">Inversion Total</option>
                                <option value="capacidadGeneracionDiaria">Capacidad de Generacion Diaria</option>
                                <option value="costoGeneracionDiaria">Costo de Generacion Diaria</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="valor" class="form-label">Valor de búsqueda:</label>
                            <input type="text" class="form-control" id="valor" name="valor" rows="1" required></input>
                        </div>
                        <div class="col-md-2 text-end">
                            <label class="form-label d-block invisible">Buscar</label>
                            <button type="submit" class="btn btn-primary w-100" id="btn-buscar">Buscar</button>
                        </div>
                    </div>
                  </form>
                  <form id="ordenamiento-form" class="mb-4">
                    <div class="row g-2 align-items-center">
                        <div class="col-md-4">
                          <label for="metodo" class="form-label">Método de Ordenamiento:</label>
                          <select class="form-select" id="metodo-ord" name="metodo-ord">
                              <option value="shellSort">ShellSort</option>
                              <option value="mergeSort">MergeSort</option>
                              <option value="quickSort">QuickSort</option>
                          </select>
                        </div>  
                        <div class="col-md-4">
                            <label for="criterio" class="form-label">Ordenar por:</label>
                            <select class="form-select" id="criterio" name="criterio">
                                <option value="nombre">Nombre</option>
                                <option value="tipoEnergia">Tipo de Energia</option>
                                <option value="tiempoVida">Tiempo de Vida</option>
                                <option value="tiempoConstruccion">Tiempo de Construccion</option>
                                <option value="inversionTotal">Inversion Total</option>
                                <option value="capacidadGeneracionDiaria">Capacidad de Generacion Diaria</option>
                                <option value="costoGeneracionDiaria">Costo de Generacion Diaria</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id" class="form-label">Orden:</label>
                            <select class="form-select" id="tipo" name="tipo">
                                <option value="1"> Descendente</option>
                                <option value="0"> Ascendete</option>
                            </select>
                        </div>

                        <div class="col-md-2 text-end">
                            <label class="form-label d-block invisible">Ordenar</label>
                            <button type="submit" class="btn btn-primary w-100" id="btn-ordenar">Ordenar</button>
                        </div>

                    </div>
                  </form>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proyecto</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tipo de energia</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tiempo de construccion</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tiempo de vida</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Inversion</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Capacidad de generacion diaria </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Costo de generacion diaria</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Detalle</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actualizar</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Eliminar</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proyecto in lista %}
                                    <tr>
                                        <td class="align-middle text-center text-sm">
                                            <h6 class="mb-0 text-sm">{{ proyecto.nombre }}</h6>
                                                
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">{{ proyecto.tipoEnergia}}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">{{ proyecto.tiempoConstruccion}} meses</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{ proyecto.tiempoVida}} años</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-xs font-weight-bold mb-0"> $ {{ proyecto.inversionTotal}} </p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{ proyecto.capacidadGeneracionDiaria}} KwH</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <p class="text-xs font-weight-bold mb-0"> $ {{ proyecto.costoGeneracionDiaria}}</p>
                                        </td>
                                        <td class="align-middle">
                                            <a href="{{ url_for('router.proyecto', id=proyecto.id) }}" class="btn btn-primary text-white" data-toggle="tooltip" data-original-title="Ver detalle del proyecto">
                                                Detalle
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <a href="{{ url_for('router.edit_proyecto', id=proyecto.id) }}" class="btn btn-primary text-white" data-toggle="tooltip" data-original-title="Ver detalle del proyecto">
                                                Actualizar
                                            </a>
                                        </td>
                                        <td>
                                            <form action="{{ url_for('router.delete_proyecto') }}" method="post" style="display:inline;">
                                                <input type="hidden" name="id" value="{{ proyecto.id }}">
                                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-end mt-3">
                <a href="/proyecto/add" class="btn btn-success">Crear Proyecto</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#ordenamiento-form').on('submit', function(event) {
            event.preventDefault();
            var metodo_o = $('#metodo-ord').val();
            var criterio = $('#criterio').val();
            var orden = $('#tipo').val();

            if (metodo_o && criterio && orden !== undefined) { 
              window.location.href = `/proyectos/ordenar/${metodo_o}/${criterio}/${orden}`; 
            } else { 
              console.log("Valores de formulario inválidos."); 
            }
        });

        $('#busqueda-form').on('submit', function(event) {
            event.preventDefault();
            var metodo_b = $('#metodo-busq').val();
            var atributo = $('#atributo').val();
            var type = "1";
            var valor = $('#valor').val();

            if (metodo_b && atributo && type && valor !== undefined) { 
              window.location.href = `/proyectos/search/${metodo_b}/${atributo}/${type}/${valor}`; 
            } else { 
              console.log("Valores de formulario inválidos."); 
            }
        });
    });
</script>
{% endblock %}



